*
!*/
!/.gitignore
!/.python-version
!*.md
!*.toml
!*.lock
!*.py
!*.pyi
!*.rs
!*.yml
!*.yaml
!py.typed
!/LICENSE
!/justfile
!/.vscode/settings.json
!/tests/fixtures/manifest-v2/**

/.venv/
/target/
/dist/
/plan/
